### Установка

In [ ]:
# ! pip install pandas

# обычно вместе с ним идут numpy и matplotlib
# ! pip install numpy matplotlib

### Скачиваем датасет и читаем его в pandas

In [1]:
import urllib.request

url = "https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook-Second-Edition/master/data/movie.csv"
filename = "movie.csv"

urllib.request.urlretrieve(url, filename)

('movie.csv', <http.client.HTTPMessage at 0x20b0632df10>)

In [2]:
import pandas as pd

# открываем файл датасета
df = pd.read_csv("movie.csv")

# читаем первые 5 строк чтобы посмотреть глазами о чем данные
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
print(f"The shape of data: {df.shape}")

The shape of data: (4916, 28)

In [4]:
# метод .info() дает нам общую информацию о датасете,
# включая типы данных и количество непустых значений для каждого столбца.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4902 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [5]:
# метод describe() предоставляет основные статистические данные о числовых столбца
# включая количество, среднее значение, стандартное отклонение, минимальное и максимальное значения,
# а также значения квартилей.

df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,49.000000,93.000000,7.000000,132.000000,607.000000,5.019656e+06,8.361750e+03,1394.750000,0.000000,64.000000,6.000000e+06,1999.000000,277.000000,5.800000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
75%,191.000000,118.000000,189.750000,633.000000,11000.000000,6.110841e+07,9.377275e+04,13616.750000,2.000000,320.500000,4.300000e+07,2011.000000,912.000000,7.200000,2.350000,2000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

### Чистка данных, фильтрация

In [6]:
df.isna().sum()

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        862
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64

In [ ]:
# Выберем только нужные колонки
df_clean = df[[
    "color", "director_name", "duration", "gross", "genres", "country", "budget", "imdb_score",
    "actor_1_name", "title_year", "movie_title"
]]

# чтобы иметь возможность менять df_clean не меняя оригинальный df - нужно создать копию
# по умолчанию выбор колонок df[[col1, col2, ...]] не создает копию,
# а всего лишь позволяет удобно смотреть только на часть оригинальных данных
df_clean = df_clean.copy()

In [ ]:
# Что за колонка "color"? Вызовем .value_counts() чтобы посмотреть какие вообще бывают значения у колонки
df_clean.color.value_counts()

In [ ]:
print(f"Before .dropna(): {df_clean.shape}")

# Выбросим строчки с отсутствующими значениями
df_clean = df_clean.dropna()
print(f"Before .dropna(): {df_clean.shape}")

In [ ]:
# оставим только цветные фильмы
df_clean = df_clean[df_clean.color == "Color"]
df_clean.shape

In [ ]:
# напечатаем случайные 5 строк
df_clean.sample(5)

### Анализ данных: value_counts

In [ ]:
# посмотрим топ-10 популярных актеров
actor_counts = df_clean["actor_1_name"].value_counts()
actor_counts.head(10)

In [ ]:
# посмотрим на количество фильмов по годам
df_clean['title_year'].value_counts().sort_index().plot(kind='bar', figsize=(15, 5))

### Анализ данных: groupby

In [ ]:
# посчитаем средние продажи на фильм по странам
budget_by_country = df_clean.groupby("country")["gross"].mean()

# сортируем по убыванию среднего значения и выводим топ-10
budget_by_country.sort_values(ascending=False)[:10]

In [ ]:
# группируем по году + стране и считаем средний рейтинг
grouped_data = df_clean.groupby(['title_year', 'country'])["imdb_score"].mean()

# вычисляем страну с наибольшим средним рейтингом для каждого года
top_country_each_year = grouped_data.groupby('title_year').apply(lambda x: x.idxmax()[1])

# печатаем
print(top_country_each_year)

In [ ]:
top_country_each_year.iloc[-20:]

### Визуализация

In [ ]:
# импортируем библиотеку matplotlib.pyplot под часто используемым псевдонимом
import matplotlib.pyplot as plt

In [ ]:
# проверим насколько визуально видна связь между рейтингом фильма и кассовыми сборами
plt.scatter(df_clean["imdb_score"], df_clean["gross"])
plt.ylabel("Gross")
plt.xlabel("IMDB Score")
plt.show()

In [ ]:
df_clean.sort_values("gross", ascending=False).head()

In [ ]:
# посчитаем средние кассовые сборы для каждого рейтинга

# сначала создадим дополнительную колонку - округленный рейтинг
df_clean["imdb_score_rounded"] = df_clean["imdb_score"].round()

df_clean[["imdb_score", "imdb_score_rounded"]].sample(5)

In [ ]:
# посчитаем средние кассовые сборы для каждого округленного рейтинга
avg_gross_by_rating = df_clean.groupby("imdb_score_rounded")["gross"].mean()
avg_gross_by_rating

In [ ]:
# джойним данные
# добавляем в датасет новую колонку, значение которой зависит от значения
# в уже существующей колонке imdb_score_rounded
df_clean = df_clean.join(avg_gross_by_rating, on="imdb_score_rounded", rsuffix="_avg_for_rating")

In [ ]:
# считаем насколько фильм превзошел "ожидаемые" кассовые сборы
df_clean["gross_factor"] = df_clean["gross"] / df_clean["gross_avg_for_rating"]

In [ ]:
df_clean.sort_values("gross_factor", ascending=False).head(10)

In [ ]:
df_clean.sort_values("gross_factor", ascending=True).head(10)

In [ ]:
df_clean[df_clean.imdb_score_rounded >= 8].sort_values("gross_factor", ascending=True).head(10)

# Домашнее задание

Для выполнения домашнего задания нужно использовать оригинальный датасет `df`:
- без фильтраций
- без выкидания строк с отсутствующими значениями

Вопрос 1: сколько фильмов выпустила Франция в 2010 году?

In [ ]:
# ваш код здесь
df[(df.country == "France") & (df.title_year == 2010)]

In [ ]:
import pandas as pd

df = pd.read_csv("vgsales.csv")

# 1 task

unique_games = len(df["Name"].unique())

print(f'Dataframe has {unique_games} unique games')
print()